{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include "_partials/_nav.html.twig" %}
         
    <div class="alert alert-primary" role="alert">
        Welcome to the <strong>Store</strong>
    </div>


    {% include "_partials/_footer.html.twig" %}
{% endblock %}



